body {
	color:#000000;
	font-size:11pt;
	font-family:Arial;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.17, rgb(232,232,232)),
		color-stop(0.91, rgb(241,166,15))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(232,232,232) 17%,
		rgb(241,166,15) 91%
	);
}
h1 {
	padding-top:24.0pt;
	color:#000000;
	font-size:24pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:6.0pt
}
h2 {
	padding-top:18.0pt;
	color:#000000;
	font-size:18pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:4.0pt
}
h3 {
	padding-top:14.0pt;
	color:#000000;
	font-size:14pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:4.0pt
}
h4 {
	padding-top:12.0pt;
	color:#000000;
	font-size:12pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:2.0pt
}
h5 {
	padding-top:11.0pt;
	color:#000000;
	font-size:11pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:2.0pt
}
h6 {
	padding-top:10.0pt;
	color:#000000;
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	padding-bottom:2.0pt
}
ol {
	margin:0;
	padding:0
}
p {
	margin:0
}
.c10 {
	width:540.0pt;
	background-color:#ffffff;
	padding:30.0pt 100.5pt 72.0pt 40.5pt
}
.c8 {
	list-style-type:disc;
	margin:0;
	padding:0
}
.c4 {
	list-style-type:circle;
	margin:0;
	padding:0
}
.c0 {
	height:11pt;
	direction:ltr
}
.c6 {
	padding-left:0pt;
	margin-left:72.0pt
}
.c3 {
	padding-left:0pt;
	margin-left:36.0pt
}
.c7 {
	color:inherit;
	text-decoration:inherit
}
.c5 {
	color:#000099;
	text-decoration:underline;
}
.c2 {
	direction:ltr;
}
.c1 {
	font-weight:bold;
}
.c9 {
	font-size:14pt;
}

a,
a:-webkit-any-link {
	color: #000099;	
	text-decoration: none;
	
	padding: 2px;
	
	background: #FFFFFF;
	-webkit-transition: background-color .5s linear;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: 0.5s;
	-webkit-transition-timing-function: linear;
	-webkit-transition-delay: initial;
	
	border-radius: 4px;  
	-moz-border-radius: 4px;  
	-webkit-border-radius: 4px;
	
}

a:hover{
	background: #F1A60F;
	color: #333333;
}

a.back2top{
	font-size: 0.8em;
	display: block;
	width: 100%;
	text-align: right;
	margin: 5px 0;
}

#wrapper{
	width: 600px;

	padding: 10px 40px;
	margin: 10px auto;

	-moz-border-radius: 10px;  
	-webkit-border-radius: 10px;
	border-radius: 10px;  
	
	box-shadow: 5px 5px 2px #646464; 
	-moz-box-shadow: 5px 5px 2px #646464;  
	-webkit-box-shadow: 5px 5px 2px #646464;
	
	background: #FFFFFF;
	
}


nav ul{
	clear: both;
	
	list-style: disc;
	list-style-type: disc;
	list-style-position: inside;
	padding: 20px 0 0;
}

nav li{
	color: #F1A60F;
	margin-bottom: 4px;	
}

header div{
	width: 500px;
	margin: auto;	
}

header img{
	float: left;
	margin-right: 10px;
}

header h1,
#content h3{
	font-family: 'Pacifico', serif;
	font-style: normal;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
}

header h1 {
	padding: 0;
	margin: 0;
	margin-right: 15px;
	
	font-size: 3em;
	line-height: 1.2;
	
	float: left;
}

header h2{
	padding: 0;
	padding-top: 10px;
	
	font-size: 1.2em;
	font-weight: 600;
	color: #f1a60f;
}

#content h3{
	clear: both;
	font-size: 1.4em;
	line-height: 1.2;
}

.screenshot {
	width:	180px;
	padding: 5px;
}

footer{
	padding: 20px 0;
	font-size: 0.8em;
	color: #646464;
}
table.tablesorter {
	font-size: 12px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter .even {
}
table.tablesorter .odd {
	background-color: #f1a60f;
}
table.tablesorter .header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(../img/asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(../img/desc.png);
	background-repeat: no-repeat;
}
